
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wheel of Fortune</title>
    <style type="text/css">
    #container{
      position:relative;
      
    }
    text{
        font-family:Helvetica, Arial, sans-serif;
        font-size:11px;
        pointer-events:none;
    }
    #chart{
        position:absolute;
        width:500px;
        height:500px;
        top:0;
        left:0;
    }
    #question{
        position: absolute;
        width:400px;
        height:500px;
        top:0;
        left:520px;
    }
    #question h1{
        font-size: 50px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        padding: 0;
        margin: 0;
        top:50%;
        -webkit-transform:translate(0,-50%);
                transform:translate(0,-50%);
    }
    </style>
    
</head>
<body>

    <div id="chart"></div>
    <div id="question"><h1></h1>
     <div class="container">
<a href="/index">GOBACK</a>
</div></div>
    
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var padding = {top:20, right:40, bottom:0, left:0},
            w = 500 - padding.left - padding.right,
            h = 500 - padding.top  - padding.bottom,
            r = Math.min(w, h)/2,
            rotation = 0,
            oldrotation = 0,
            picked = 100000,
            oldpick = [],
            color = d3.scale.category20();
        var data = [{"label": "TRUTH","value": 1,
  "question": "Tell me about the last time you got really embarrassed."
  },
 {"label": "DARE","value": 1,
  "question": "Hum a song of your choice, don’t stop until someone correctly guesses the song."
  },
 {"label": "TRUTH","value": 1,
  "question": "What’s the longest you’ve worn the same outfit for?"
  },
 {"label": "DARE","value": 1,
  "question": "Pour a glass of ice water on your head."
  },
 {"label": "TRUTH","value": 1,
  "question": "Have you ever had a crush on one of your teachers?"
  },
 {"label": "DARE","value": 1,
  "question": "Bite down on both of your pinky fingers for fifteen seconds,then tightly interlock your pinkies."
  },
 {"label": "TRUTH","value": 1, "question": "Where are you ticklish?" },
 {"label": "DARE","value": 1,
  "question": "Do your best touchdown celebration dance."
  },
 {"label": "TRUTH","value": 1,
  "question": "What do you think is your best feature?"
  },
 {"label": "DARE","value": 1,
  "question": "Go as long as you can without blinking."
  },
 {"label": "TRUTH","value": 1, "question": "Have you ever cheated on a test?" },
 {"label": "DARE","value": 1,
  "question": "Choose another player to give you a wet willy."
  },
 {"label": "TRUTH","value": 1,
  "question": "Who was your first celebrity crush?"
  },
 {"label": "DARE","value": 1, "question": "Do the salt and ice challenge." },
 {"label": "TRUTH","value": 1,
  "question": "Do you believe in any superstitions?"
  },
 {"label": "DARE","value": 1, "question": "Lick your big toe."},
 {"label": "TRUTH","value": 1, "question": "Have you showered today?"},
 {"label": "DARE","value": 1,
  "question": "Open the closest book to a random page, point at a random sentence, and then text that sentence to the last person that texted you without giving any other context."
  },
 {"label": "TRUTH","value": 1,
  "question": "Where’s the farthest you’ve traveled?"
  },
 {"label": "DARE","value": 1,
  "question": "Take a deep breath of the socks you are wearing right now."
  },
 {"label": "TRUTH","value": 1,
  "question": "What’s the weirdest food combo that you eat?"
  },
 {"label": "DARE","value": 1,
  "question": "Drink a glass of water while upside down."
  },
 {"label": "TRUTH","value": 1,
  "question": "What’s the meanest thing you have ever said to someone?"
  },
 {"label": "DARE","value": 1, "question": "Do 25 sit ups." },
 {"label": "TRUTH","value": 1,
  "question": "What was the last movie that made you cry?"
  },
 {"label": "DARE","value": 1,
  "question": "Show the other players the five most recent photos in your camera roll."
  },
 {"label": "TRUTH","value": 1,
  "question": "If you had to be stuck on a desert island with any celebrity,who would it be?"
  },
 {"label": "DARE","value": 1,
  "question": "Cut some of your hair, even if it is just a small strand."
  },
 {"label": "TRUTH","value": 1,
  "question": "Have you ever gotten arrested or almost gotten arrested?"
  },
 {"label": "DARE","value": 1,
  "question": "What is a common skill (ex. Whistling), that you do not possess?"
  }];


        var svg = d3.select('#chart')
            .append("svg")
            .data([data])
            .attr("width",  w + padding.left + padding.right)
            .attr("height", h + padding.top + padding.bottom);

        var container = svg.append("g")
            .attr("class", "chartholder")
            .attr("transform", "translate(" + (w/2 + padding.left) + "," + (h/2 + padding.top) + ")");

        var vis = container
            .append("g");
            
        var pie = d3.layout.pie().sort(null).value(function(d){return 1;});

        // declare an arc generator function
        var arc = d3.svg.arc().outerRadius(r);

        // select paths, use arc generator to draw
        var arcs = vis.selectAll("g.slice")
            .data(pie)
            .enter()
            .append("g")
            .attr("class", "slice");
            

        arcs.append("path")
            .attr("fill", function(d, i){ return color(i); })
            .attr("d", function (d) { return arc(d); });

        // add the text
        arcs.append("text").attr("transform", function(d){
                d.innerRadius = 0;
                d.outerRadius = r;
                d.angle = (d.startAngle + d.endAngle)/2;
                return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius -10) +")";
            })
            .attr("text-anchor", "end")
            .text( function(d, i) {
                return data[i].label;
            });

        container.on("click", spin);


        function spin(d){
            
            container.on("click", null);
            console.log("OldPick: " + oldpick.length, "Data length: " + data.length);
            if(oldpick.length == data.length){
                console.log("done");
                container.on("click", null);
                return;
            }

            var  ps       = 360/data.length,
                 pieslice = Math.round(1440/data.length),
                 rng      = Math.floor((Math.random() * 1440) + 360);
                
            rotation = (Math.round(rng / ps) * ps);
            
            picked = Math.round(data.length - (rotation % 360)/ps);
            picked = picked >= data.length ? (picked % data.length) : picked;


            if(oldpick.indexOf(picked) !== -1){
                d3.select(this).call(spin);
                return;
            } else {
                oldpick.push(picked);
            }

            rotation += 90 - Math.round(ps/2);

            vis.transition()
                .duration(3000)
                .attrTween("transform", rotTween)
                .each("end", function(){
                    d3.select(".slice:nth-child(" + (picked + 1) + ") path")
                        .attr("fill", "#111");
                    d3.select("#question h1")
                        .text(data[picked].question);

                    oldrotation = rotation;
                
                    container.on("click", spin);
                });
        }

        //make arrow
        svg.append("g")
            .attr("transform", "translate(" + (w + padding.left + padding.right) + "," + ((h/2)+padding.top) + ")")
            .append("path")
            .attr("d", "M-" + (r*.15) + ",0L0," + (r*.05) + "L0,-" + (r*.05) + "Z")
            .style({"fill":"black"});

        //draw spin circle
        container.append("circle")
            .attr("cx", 0)
            .attr("cy", 0)
            .attr("r", 60)
            .style({"fill":"white","cursor":"pointer"});

        //spin text
        container.append("text")
            .attr("x", 0)
            .attr("y", 15)
            .attr("text-anchor", "middle")
            .text("SPIN")
            .style({"font-weight":"bold", "font-size":"30px"});
        
        
        function rotTween(to) {
          var i = d3.interpolate(oldrotation % 360, rotation);
          return function(t) {
            return "rotate(" + i(t) + ")";
          };
        }
        
        
        function getRandomNumbers(){
            var array = new Uint16Array(1000);
            var scale = d3.scale.linear().range([360, 1440]).domain([0, 100000]);

            if(window.hasOwnProperty("crypto") && typeof window.crypto.getRandomValues === "function"){
                window.crypto.getRandomValues(array);
                console.log("works");
            } else {
                //no support for crypto, get crappy random numbers
                for(var i=0; i < 1000; i++){
                    array[i] = Math.floor(Math.random() * 100000) + 1;
                }
            }

            return array;
        }

    </script>
     
</body>
</html>